.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-size: 12px;
  flex-grow: 1;
}

.name {
  position: relative;
  flex: 1 1;
  color: var(--oda-color-550);
  & span {
    font-size: 16px;
    color: var(--oda-main-text-color);
    margin-left: 5px;
    &[class*="material-symbols-sharp"] {
      color: rgba(251, 255, 241, 0.4);
    }
  }
}

.child {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  gap: 9px;
  & [class*="ant-select"] {
    &[class*="ant-select-outlined"] {
      width: 100%;
    }
  }
  & [class*="ant-slider-horizontal"] {
    width: 100%;
  }
}

.helpmodal {
  position: absolute;
  top: 0;
}
