.container {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.name {
  flex: 1 1;
}

.child {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  min-width: 200px;
  align-items: center;
  margin-right: 10px;
}
