.container {
  gap: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 40px;
  align-items: stretch;
  font-size: 21px;
  font-weight: 400;
}

.name {
  position: relative;
  flex: 1 1;
  color: var(--oda-main-text-color);
  & span {
    font-size: 16px;
    color: var(--oda-main-text-color);
    margin-left: 5px;
    &[class*="material-symbols-sharp"] {
      color: rgba(251, 255, 241, 0.4);
    }
  }
}

.child {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  min-width: 200px;
  align-items: center;
  margin-right: 10px;
}

.helpmodal {
  position: absolute;
  top: 0;
}
