.headercontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: 0 0 1px #674afd;
  height: 66px;
  border-bottom: 1px solid var(--oda-color-100);
  margin-right: -18px;
  margin-left: -18px;
  padding-left: 18px;
  padding-right: 18p
}

.account {
  justify-self: flex-end;
  background: var(--oda-color-100);
  border-radius: 12px;
  height: 48px;
  padding: 12px;
  color: var(--oda-color-1000);
  &:hover {
    background-color: var(--oda-color-200);
  }
}

.buttons {
  display: flex;
  align-items: center;

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: normal;
    text-decoration: none;
    margin-right: 18px;
  }
}
