.preview {
  padding: 6px;
  background-color: black;
  border-radius: 9px;
  margin: 12px;
  margin-top: 0px;
}

.widgetcard {
  min-width: 380px;
  width: 100%;
  min-height: 177px;
  border-radius: 12px;
  padding: 12px 15px 18px 15px;
  background-color: var(--oda-color-150);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 700px;
}

.widgetname {
  & div {
    font-size: 48px!important;
  }
  & input {
    font-size: 48px!important;
    height: 72px!important;
  }
  align-items: baseline!important;
  font-weight: 600;
  line-height: 1em;
}

.settingstitle{
  line-height: 0.9;
}

.settingssubtitle {
  margin-top: 6px;
  margin-bottom: 36px;
  padding-left: 3px;
}

.resizable {
  border-radius: 6px;
  background: url(https://cdn.oda.digital/assets/back.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.spacearound {
  padding: 80px;
}

.helpbutton {
  background: none;
  border: none;
  color: var(--oda-secondary-text-color);
  height: 100%;
  line-height: 28px;
  padding-right: 0px;
  margin-left: 10px;

  & span {
    vertical-align: bottom;
  }
  &:hover{
    transform: translateY(-2px);
    color: white;
  }
}

/* TODO: cleanup */
.helpmodal {
  & [class*="ant-modal-header"] {
    display: none;
  }
  & [class*="ant-modal-content"] {
    padding-top: 0px;
    background-color: var(--oda-panel-backgroun-color)!important;
  }
  & [class*="ant-modal-body"] {
    background-color: var(--oda-panel-backgroun-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
  }
  & [class*="ant-modal-footer"] {
    display: none;
  }
}

.helptitle {
  font-family: "Mulish Variable";
  padding: 10px 0 0px 10px;
  margin-bottom: 10px;
  font-weight: 900;
}

.helpdescription {
  margin-left: 25px;
  margin-bottom: 10px;
}

.helplist {
  margin: 0;
  padding: 10px 0 0px 10px;
  & li{
    margin-left: 0.5rem;
    list-style: none;
    & a {
      color: var(--oda-secondary-text-color);
      font-size: 20px;
    }
  }
}

.helplistitem {
  display: flex;
  align-items: center;
  gap: 5px;
}
