.preview {
  padding: 6px;
  background-color: black;
  border-radius: 9px;
  margin: 12px;
  margin-top: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewcard {
  max-width: 380px;
  max-height: 600px;
}

.previewcontainer{
  margin-left: 12px;
}

.previewbuttons {
  margin-bottom: 12px;
  padding-right: 36px;
  width: 100%;
}

.presetsubtitle {
  margin-bottom: 18px;
}

.cardlistcontainer {
  margin-bottom: 32px;
}

.smallcontainer {
  height: 70%;
}

.bigcontainer {
  height: 100%;
}

.configcontainer {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));

  & [class*="ant-tabs-content-holder"] {
    overflow-y: scroll;
    max-height: 80vh;
    height: min-content;
    padding-right: 9px;
    &::-webkit-scrollbar {
      width: 15px;
      display: initial;
      padding: 3px;
      background: var(--oda-color-100);
      border-radius: 9px;
      /* border: 1px solid var(--oda-primary-color); */
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: var(--oda-color-100);
      border-radius: 9px;
      /* border: 1px solid var(--oda-primary-color); */
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      /* background: var(--oda-secondary-text-color); */
      /* border: 1px solid var(--oda-primary-color); */
      border-radius: 9px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    & [class*="ant-tabs-content-holder"] {
      height: unset;
      overflow-y: auto;
    }
  }
}

.widgetcard {
  min-width: 380px;
  width: 100%;
  min-height: 177px;
  border-radius: 12px;
  padding: 12px 15px 18px 15px;
  background-color: var(--oda-color-150);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 700px;
}

.widgetname {
  & div {
    font-size: 48px!important;
  }
  & input {
    font-size: 48px!important;
    height: 72px!important;
  }
  align-items: baseline!important;
  font-weight: 600;
  line-height: 1em;
}

.settingstitle{
  line-height: 0.9;
}

.settingssubtitle {
  margin-top: 6px;
  margin-bottom: 36px;
  padding-left: 3px;
}

.resizable {
  border-radius: 6px;
  background: url(https://cdn.oda.digital/assets/preview-background.jpg);
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.spacearound {
  padding: 80px;
}

.helpbutton {
  background: none;
  border: none;
  color: var(--oda-secondary-text-color);
  height: 100%;
  line-height: 28px;
  padding-right: 0px;
  margin-left: 10px;

  & span {
    vertical-align: bottom;
  }
  &:hover{
    transform: translateY(-2px);
    color: white;
  }
}

/* TODO: cleanup */
.helpmodal {
  & [class*="ant-modal-header"] {
    display: none;
  }
  & [class*="ant-modal-content"] {
    padding-top: 0px;
    background-color: var(--oda-panel-backgroun-color)!important;
  }
  & [class*="ant-modal-body"] {
    background-color: var(--oda-panel-backgroun-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
  }
  & [class*="ant-modal-footer"] {
    display: none;
  }
}

.helptitle {
  font-family: "Mulish Variable";
  padding: 10px 0 0px 10px;
  margin-bottom: 10px;
  font-weight: 900;
}

.helpdescription {
  margin-left: 25px;
  margin-bottom: 10px;
}

.helplist {
  margin: 0;
  padding: 10px 0 0px 10px;
  & li {
    margin-left: 0.5rem;
    list-style: none;
    & a {
      color: var(--oda-secondary-text-color);
      font-size: 20px;
    }
  }
}

.helplistitem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.widgettitle {
  color: var(--oda-main-text-color);
  line-height: 24px;
  font-weight: 600;
  font-size: 24px;
  font-family: "Mulish Variable";
}
