.listitem {
  padding: 12px 15px;
  background-color: var(--oda-color-150);
  border: none;
  border-radius: 6px;
  font-size: 21px;
  &:hover {
    background-color: var(--oda-color-250);
    cursor: pointer;
  }
}

.adddalertbutton {
  text-align: center;
  width: 100%;
  background-color: var(--oda-color-150);
  border: none;
  border-radius: 6px;
  color: var(--oda-primary-color);
  height: 52px;
  &:hover{
    background-color: var(--oda-color-250);
  }
}
