.alertbuttons {
  position: absolute;
  top: 10px;
  right: 5px;
}

.littletitle {
  color: var(--oda-color-500);
  font-size: 12px;
  margin-bottom: 6px;
}

.preview {
  padding: 6px;
  background-color: black;
  border-radius: 9px;
  margin-top: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resizable {
  border-radius: 6px;
  background: url(https://cdn.oda.digital/assets/preview-background.jpg);
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.alerttitle {
  color: var(--oda-color-950);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}

.alertcontainer {
  height: 100%;
  overflow: hidden;
}

.alertsettings {
  width: 50%;
  max-width: 700px;
  overflow-y: scroll;
  height: 97%;
}

.alertpreview {
  padding-top: 3px;
  /* width: 50%; */
  flex: 1 1 auto;
}
