.adddalertbutton {
  margin-top: 3px;
  text-align: center;
  width: 100%;
  background-color: var(--oda-color-150);
  border: none;
  border-radius: 6px;
  color: var(--oda-primary-color);
  height: 52px;
  &:hover{
    background-color: var(--oda-color-250);
  }
}

.preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.alertheader {
  padding: 12px 15px;
  background-color: var(--oda-color-150);
  border: none;
  border-radius: 6px;
  &:hover {
    background-color: var(--oda-color-250);
    cursor: pointer;
  }
  & .alerttitle{
    font-size: 21px;
  }
}

.searchbutton {
  width: 100%;
  border-radius: none;
  border-bottom: 1px solid var(--oda-secondary-text-color);
}

.filterbuttons {
  width: 100%;
  margin-bottom: 15px;
}

[class*="newstyle"]{
  .smallinput {
    &[class*="ant-input"] {
      height: 36px;
      font-size: 15px;
      border: none;
    }
  }

  .smallsegmented {
    color: var(--oda-secondary-text-color);
    &[class*="ant-segmented"] {
      & [class*="ant-segmented-group"] {
        & [class*="ant-segmented-item-label"] {
          min-height: unset;
          line-height: unset;
        }
        & [class*="ant-segmented-item"] {
          height: unset;
          font-size: 15px;
        }
      }
    }
  }
}
