.messageheader {
  position: relative;
	color: rgb(251, 140, 43);
	font-size: 45px;
	width: 100%;
	font-weight: bolder;
	text-align: center;
}

.image {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.text {
  position: relative;
  z-index: 1;
}
