.variablename{
  font-size: 28px;
}

.smallvariablename {
  font-size: 18px;
}

.rename {
  background-color: transparent!important;
  color: var(--oda-secondary-text-color)!important;
  box-shadow: none!important;
  padding-top: 3px!important;
  border: none!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

