.reelitem {
  border: 1px solid red;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  border-radius: 20px;
}

.active {
  background-color: green;
  color: white;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
