.optionscontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.addoptionsbutton {
  border: none;
  background-color: initial;
  color: #684aff;
}

.addbuttoncontainer {
  width: 50%;
  text-align: center;
  padding-top: 10px;
}
