.cardlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  width: 100%;
  gap: 12px;
}

.sectionname {
  font-size: 19px;
  padding-bottom: 8px;
  color: #707080;
  margin-top: 18px;
}

.buttoncard {
  background-color: transparent !important;
  color: var(--oda-secondary-text-color) !important;
  box-shadow: none;
  flex-grow: 1;
  min-height: 200px;
  height: auto !important;
  border: 1px solid #36363d;
  border-radius: 9px;
  &[class*="ant-btn"][class*="ant-btn-default"] {
    border: 1px solid #36363d;
    box-shadow: none;
    min-height: 200px;
    border-radius: 9px;
  }
}

.card {
  border-radius: 12px;
  background-color: var(--oda-color-150);
  min-height: 200px;
  padding: 18px 15px 15px 15px;
  &:hover {
    cursor: pointer;
    background-color: var(--oda-color-200);
  }
}


.cardtitle {
  color: var(--oda-color-1000);
  font-size: 21px;
}

.notselected {
  border: 1px solid var(--oda-color-150);
}

.selected {
  border: 1px solid var(--oda-primary-color);
  & .cardtitle {
    color: var(--oda-primary-color);
  }
}
