.container {
  background-color: var(--oda-warning-color);
  padding: 6px 9px;
  border-radius: 9px;
  margin-top: 12px;
  margin-bottom: 6px;
}

.prefix {
  color: var(--oda-primary-color);
  padding-right: 6px;
  margin-left: 6px;
  padding-bottom: 2px;
}

.line {
  color: var(--oda-color-950);
  font-size: 18px;
  & span {
    font-weight: 900;
  }
}

.row {
  justify-content: space-between;
}
