.inputcontainer {
  width: 100%;
  justify-content: space-between;
  border: 1px solid #36363D;
  border-radius: 9px;
  height: 48px;
  align-items: center;
}

.button {
  background: unset;
  border: none;
  vertical-align: middle;
  line-height: 0;
  color: white;
}

.valuewithaddon input {
  text-align: right!important;
}

.valuewithoutaddon input {
  text-align: center!important;
}

.value input {
  font-family: 'Play'!important;
  font-weight: 900;
  width: 90px!important;
  font-size: 20px!important;
  color: white!important;
  outline: none!important;
  width: 100%;
}


.value:focus,
.value:focus-within,
.value:hover,
.value input:focus,
.value input:hover,
.value input:focus-within {
  background-color: unset!important;
  border: none!important;
  outline: none!important;
}
