.childname {
  font-size: 21px;
  border: 1px solid var(--oda-color-300);
  border-radius: 6px;
  padding-left: 12px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: var(--oda-color-1000);
  & svg {
    margin-top: 1px;
  }
}

.componentselector {
  height: 24px;
  &:hover {
    transform: translateY(-2px);
  }
  & [class*="ant-select-selection-placeholder"]{
    font-size: 12px;
    font-weight: 400;
    color: var(--oda-color-950);
    margin-right: 12px;
    font-family: 'Mulish Variable';
  }
}
