.header {
  color: var(--oda-color-1000);
}

.newscontainer {
  background-color: var(--oda-color-150);
  padding: 6px 9px;
  border-radius: 9px;
  margin-bottom: 6px;
}

.newsprefix {
  color: var(--oda-primary-color);
  padding-right: 6px;
  margin-left: 6px;
  padding-bottom: 2px;
}

.newsline {
  color: var(--oda-color-950);
}

.openicon {
  color: var(--oda-color-900);
  font-weight: 200;
}

.filters {
  margin-top: 30px;
  color: var(--oda-color-1000);
  margin-bottom: 30px;
  background-color: var(--oda-color-150);
  border-radius: 12px;
  padding: 12px 15px;
}

.filtersection {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 9px;
}

.filterlist {
  width: 100%;
  gap: 6px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.premoderationbutton {
  min-width: 200px;
  color: var(--oda-color-500);
}

.pagecontainer {
  height: 70vh;
  overflow-y: scroll;
  position: relative;

  &::-webkit-scrollbar {
    width: 3px;
    display: none;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--oda-color-500);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--oda-secondary-text-color);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.loadmore {
  margin-top: 12px;
  width: 100%;
  & button {
    width: 250px;
  }
}

.newdonationnickname {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.newdonationamount {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.optionscontainer {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.optionname{
  margin-right: 10px;
  margin-left: 10px;
}

.option{
  display: flex;
}

.historyday {
  color: var(--oda-color-500);
  margin-bottom: 9px;
  margin-top: 18px;
  &:first-child{
    margin-top: 0px;
  }
}

