.item {
  min-height: 100px;
  background-color: var(--oda-color-150);
  border-radius: 16px;
  padding: 12px 15px;
  & [class*="material-symbols-sharp"] {
    padding-top: 4px;
  }
}

.active {
  background-color: var(--oda-color-250);
}

.system {
  color: var(--oda-color-500);
}

.little {
  font-size: 16px;
  color: rgb(120, 133, 189);
  margin-left: 3px;
  margin-right: 3px;
}

.timestamp {
  justify-self: flex-end;
  text-align: right;
  flex: 1 0 auto;
  color: var(--oda-color-800);
}

.rouletteresult {
  margin-top: -2px;
  color: var(--oda-color-950);
}

.amount {
  color: var(--oda-primary-color);
  font-size: 18px;
  margin-right: 5px;
}

.title {
  display: flex;
  align-items: baseline;
  font-size: 18px;
  color: rgba(255,255,255,1);
  & * {
    -webkit-user-select: text;
    -ms-user-select: text; /* IE 10 and IE 11 */
    user-select: text; /* Standard syntax */
  }
}

.message {
  -webkit-user-select: text;
  -ms-user-select: text; /* IE 10 and IE 11 */
  user-select: text; /* Standard syntax */
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.goals {
  font-size: 18px;
  flex-grow: 1;
  justify-content: flex-end;
  color: var(--oda-color-950);
}

.attachment {
  font-size: 15px;
  border: 1px solid var(--oda-color-300);
  color: var(--oda-color-1000);
  border-radius: 6px;
  padding: 5px 12px 6px 12px;
  &:hover {
    cursor: pointer;
  }
}
