.header {
    color: var(--oda-color-1000);
}

.sectionname {
  font-size: 19px;
  padding-bottom: 8px;
  color: #707080;
  margin-top: 18px;
}

.addbutton {
  background-color: transparent!important;
  color: var(--oda-secondary-text-color)!important;
  box-shadow: none;
  width: 222px;
  height: 150px;
  border: 1px solid #36363D;
  border-radius: 9px;
  &[class*="ant-btn"][class*="ant-btn-default"]{
    border: 1px solid #36363D;
    box-shadow: none;
    min-height: 150px;
    border-radius: 9px;
  }
}
