.modal {
  position: absolute;
  top: calc(50% - 250px);
  z-index: 200;
  border-radius: 12px;
  background-color: var(--oda-color-100);
  padding: 12px 18px;
}

.note {
  color: var(--oda-color-500);
  font-size: 18px;
}

.normalmodal {
  width: 720px;
  left: calc(50% - 360px);
}

.bigmodal{
  top: 10%;
}

@media(min-width: 1600px){
  .bigmodal {
    width: 1500px;
    left: calc(50% - 750px);
  }
}

@media(max-width: 1600px){
  .bigmodal {
    width: 750px;
    left: calc(50% - 330px);
  }
}

.back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.title {
  color: var(--oda-color-1000);
  font-size: 48px;
}

.subtitle {
  color: var(--oda-color-500);
}

.buttons {
}

.content {
  height: 100%;
  z-index: 200;
}

.decline {
  background-color: #1B1B1F!important;
  color: white!important;
  padding: 14px 36px 16px 36px!important;
  box-shadow: none!important;
  border-radius: 100px!important;
  height: unset!important;
}

.save {
  background-color: #B2D4FB!important;
  color: black!important;
  padding: 14px 36px 16px 36px!important;
  box-shadow: none!important;
  border-radius: 100px!important;
  height: unset!important;
}
