.name {
  font: var(--oda-label-font);
  color: var(--oda-label-color);
}

.value{
  width: 25%;
  border: var(--oda-main-border);
  background-color: var(--oda-control-background-color);
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.9);
  border-radius: 3px;
}

.value:focus,.value:hover{
  background-color:var(--oda-btn-background-color);
}
