.text {
  border: 1px solid #36363F;
  border-radius: 9px;
  background: none;
  flex-grow: 1;
  color: var(--oda-color-1000);
  padding: 6px 15px 3px 15px;
  &:focus {
    outline: 1px inset var(--oda-primary-color);
  }
}

.normal {
  height: 180px;
}

.small {
  height: 60px;
}
