.container {
  /* background-color: var(--oda-color-150); */
  /* padding: 6px 9px; */
  border-radius: 9px;
  color: var(--oda-color-950);
}

.cableicon {
  font-size: 20px;
  color: var(--oda-color-900);
}

.services {
  gap: 6px;
  background-color: var(--oda-color-150);
  border-radius: 9px;
  display: inline-flex;
  padding: 6px 9px;
  align-items: center;
}

.icon {
  margin-top: -3px;
}

.refreshicon {
  color: var(--oda-color-900);
}

.reloadbutton {
  color: var(--oda-color-900);
}
