.toolbar {
  height: 100%;
  padding-top: 10px;
  /* border-right: 1px solid #674afd; */
  /* box-shadow: inset -5px 0 5px 0px rgba(0, 0, 0, 0.5); */
}

.toolbar .material-symbols-sharp {
  vertical-align: bottom;
}

.toolbar-button {
	background: none;
  color: var(--oda-secondary-text-color);
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  border-radius: 3px;
}

.toolbar-button:not(.active):hover {
  color: var(--oda-main-text-color);
}

.toolbar-button.active {
  color: var(--oda-main-text-color);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid #674afd;
}

.toolbar-title {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 900;
  text-align: center;
	font-size: 50px;
}

.toolbar-button-title {
  margin-left: 10px;
  font-family: 'Play';
}

.oda-logo {
	width: 200px;
	height: 200px;
}

