.toolbar {
  position: fixed;
  height: 100%;
  width: 200px;
  border-right: 1px solid #674afd;
}

.toolbar .material-symbols-sharp {
  vertical-align: bottom;
}

.toolbar-button {
	background: none;
  color: white;
  border: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 10px;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  text-align: left;
}

.toolbar-button:hover {
	background: #111529;
}

.toolbar-button.active {
  background: #684aff;
}

.toolbar-title {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 900;
  text-align: center;
	font-size: 50px;
}

.toolbar-button-title {
  margin-left: 10px;
  font-family: 'Play';
}

.oda-logo {
	width: 200px;
	height: 200px;
}
