.widget-list {
  margin-left: 300px;
  margin-right: 100px;
  padding-top: 20px;
  flex: 1 0 auto;
}

.widget-list-title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  color: #7987bf;
}
