/* @import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Protest+Strike&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");

.configuration-container {
  height: 100%;
  display: flex;
}

.widget-settings {
  margin-top: 10px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  margin-bottom: 5px;
}

.widget-settings-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 4px;
  min-height: 30px;
  flex-wrap: wrap;
}
.widget-settings-item:hover .widget-settings-name {
  color: #11998e;
}

.widget-settings-item:hover .widget-settings-value {
  color: #11998e;
}

.widget-settings-name {
  position: absolute;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  cursor: text;
  top: 10px;
  font-family: "Martian Mono", monospace;
}

.widget-settings-value:focus-visible,
.widget-settings-value:focus {
  outline: none;
  padding-bottom: 6px;
  font-weight: 700;
  color: #38ef7d;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.widget-settings-value {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  font-family: "Martian Mono", monospace;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-align: right;
}

.textarea-container {
  width: 100%;
  text-align: right;
}

.widget-settings-value {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

textarea.widget-settings-value {
  text-align: left;
}

.widget-settings-value.select {
  width: 100%;
  border: none;
  background-color: rgb(43, 53, 102);
}

.widget-settings-value.select:focus,
.widget-settings-value.select:focus-visible {
  outline: none;
}

.widget-settings-value.select option {
  color: white;
}

.widget-settings-value.select option {
  background-color: none;
}

.payment-alerts-previews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.payment-alerts-previews-item {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}

.payment-alert-image-preview {
  width: 100px;
  height: 100px;
  border: 2px solid #684aff;
  display: inline-block;
}

.payment-alert-image-preview.selected {
  border: 8px solid red;
}

.payment-alert-image-preview:hover {
  cursor: pointer;
}

.payment-alert-settings {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #684aff;
}

.payment-alert-settings-tabs {
  padding-top: 5px;
  margin-bottom: 20px;
}

.payment-alert-settings-tab-image {
  display: inline-block;
}

.payment-alert-settings-tab-voice {
  display: inline-block;
}

.settings-tab-item {
  margin-right: 10px;
  background-color: #111529;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #7885bd;
  user-select: none;
}

.settings-tab-item:hover {
  cursor: pointer;
}

.settings-tab-item.active {
  background-color: #684aff;
  color: white;
}

.color-container {
  width: 100%;
  text-align: right;
  margin-top: 10px;
}

.color-value {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 3px solid white;
  display: inline-block;
}

.color-value:hover {
  cursor: pointer;
}

.color-picker-popup {
  position: absolute;
  right: 30px;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 1);
  padding: 2px;
  border: 1px solid #684aff;
}

.color-picker-popup .react-colorful {
  width: initial;
}

.color-picker-value {
  border-radius: 5px;
  margin-top: 5px;
}

.widget-settings-radiobutton img {
  width: 400px;
  margin-bottom: 20px;
  border: 1px solid #684aff;
  margin-left: 5px;
}

.widget-settings-radiobutton img:hover {
  cursor: pointer;
}

.widget-settings-radiocontainer {
  display: flex;
  flex-direction: column;
}
