.button {
  background: transparent;
  height: 30px;
  font-size: 12px;
  border: 1px solid var(--oda-color-250);
  border-radius: 6px;
  color: var(--oda-color-1000);
  padding-left: 6px;
  padding-right: 12px;
  & span {
    padding-top: 1px;
  }
  &:hover{
    transform: translateY(-2px);
  }
}
