.container {
  width: 100%;
  height: calc(max(100%,100vh));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
}

.back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: calc(max(100%,100vh));
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  border-radius: 12px;
  background-color: var(--oda-color-100);
  padding: 12px 18px;
  height: min-content;
}

.small {
  /* margin-top: 30vh; */
  width: 720px;
  left: calc(50% - 360px);
}

.warning {
  align-self: flex-start;
  margin-top: 40vh;
  width: 720px;
}

.warningchildren {
  color: var(--oda-color-1000);
}

.big {
  margin-top: 2vh;
  top: 2vh;
}

.fullscreen {
  margin-top: 2vh;
  top: 2vh;
  width: 1200px;
  left: 2vw;
  height: 96vh;
}

.title {
  color: var(--oda-color-1000);
  font-size: 48px;
  width: 100%;
}

.subtitle {
  color: var(--oda-color-500);
}

@media(min-width: 1600px) {
  .big {
    width: 1200px;
    left: calc(50% - 600px);
  }
}

@media(min-width: 750px) and (max-width: 1600px) {
  .big {
    width: 750px;
    left: calc(50% - 330px);
  }
}

@media(max-width: 750px) {
  .big {
    width: unset;
    left: 0;
  }
}
