.ant-btn-default {
  color: var(--oda-main-text-color);
}

.ant-btn-primary {
  color:  var(--oda-main-text-color);
}

.ant-input {
  border: var(--oda-main-border);
  background-color: var(--oda-control-background-color);
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.9);
  border-radius: 3px;
}

.ant-input-number {
  border: var(--oda-main-border);
  background-color: var(--oda-control-background-color);
  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.9);
  border-radius: 3px;

  & .ant-input-number-input {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: right;
  }

  & .ant-input-number-handler {
    display: none;
  }

  & .ant-input-number-handler-wrap {
    display: none;
  }
}

.ant-input-number-group .ant-input-number-group-addon {
  padding-left: 5px;
  color: var(--oda-secondary-text-color);
}

.ant-input-number-group-wrapper-outlined
  .ant-input-number-group-addon:last-child {
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background: none;
}

.ant-color-picker-trigger {
  background-color: #684aff;
  width: 100%;
  min-width: 140px;
  justify-content: flex-start;
  flex-flow: row-reverse;
  padding-right: 10px;
  border: 1px solid #674afd;
  border-radius: 3px;
  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.9);
  height: unset;
  min-height: 28px;
  & .ant-color-picker-color-block {
    width: 16px;
    height: 16px;
    border-radius: 2px;
  }
}

.ant-tabs {
  flex: 1 1 auto;
  font-family: "Play";

  &.ant-tabs-top {
    & .ant-tabs-nav {
      padding-left: 5px;
      margin-bottom: 0px;
      background-color: var(--oda-main-background-color);
    }
  }

  & .ant-tabs-tab {
    color: #7885bd;
    font-family: "Play";
    font-weight: 900;
    &.ant-tabs-tab-active .ant-tabs-tab-btn {
      color:  var(--oda-main-text-color);
    }
  }

  & .ant-tabs-content-holder {
    background: var(--oda-panel-backgroun-color);
  }

  & .ant-tabs-tab-btn {
    color: var(--oda-secondary-text-color);
  }
}

.ant-modal {
  & .ant-modal-header {
    margin-left: 10px;
  }


  & .ant-modal-content {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: var(--oda-main-background-color);
    border: 1px solid #674afd;
    margin-bottom: 0px;


    & .ant-modal-title {
      background-color: var(--oda-main-background-color);
      color: var(--oda-main-text-color);
      text-align: center;
    }

    & .ant-modal-body {
      background-color: var(--oda-panel-backgroun-color);
    }
  }

  & .ant-tabs {
    padding-top: 10px;
    background-color: var(--oda-main-background-color);
  }

  & .ant-modal-footer {
    background-color: var(--oda-panel-backgroun-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.ant-collapse {
  background-color: #151a33;
  font-family: Play;
  border: 1px solid #674afd;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;

  & .ant-collapse-content {
    background-color: #2b3566;

    & > .ant-collapse-content-box {
      padding: 0px;
    }
  }

  & > .ant-collapse-item > .ant-collapse-header {
    font-family: Play;
    font-weight: 900;
    color: white;
  }

  & > .ant-collapse-item > .ant-collapse-header:first {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.ant-layout {
  background: none !important;
  font-family: "Play";

  & .ant-layout-sider {
    background: none !important;
  }

  & .ant-layout-header {
    background: none !important;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  }
}

.ant-dropdown-trigger {
  color: var(--oda-secondary-text-color);
  font-weight: 900;
  font-size: 20px;
  text-decoration: none;

  &:hover {
    transform: translateY(-2px);
    color: white;
  }

  & span {
    vertical-align: middle;
  }
}

aside.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: unset !important;
}

main.ant-layout-content {
  flex: 1 0 600px !important;
  padding-left: 10px;
}

div.ant-layout-has-sider.ant-layout {
  flex: 1 0 auto;
  align-self: center;
  width: 100%;
  max-width: 1200px !important;
}

.ant-dropdown {
  & .ant-dropdown-menu {
    box-shadow: 0 0 2px 2px rgba(103, 74, 255, 0.2);
    background-color: var(--oda-btn-background-color);
    border-radius: 6px;
  }
}

.ant-dropdown-menu-title-content {
  /* color: #7885db */
  color: var(--oda-secondary-text-color);
}

.ant-checkbox {
  & .ant-checkbox-inner {
    height: 25px;
    width: 25px;
  }
}

.ant-select {
  &.ant-select-outlined {
    & .ant-select-selection-item {
      text-align: right;
    }
    & .ant-select-selector {
      background-color: #684aff;
      color: white !important;
      box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.9);
      border: 1px solid #674afd;
      border-radius: 3px;
    }
  }
  & .ant-select-arrow {
    color: white;
  }
}

.ant-carousel {
  flex: 1 0 auto;
  display: flex;
}

.ant-segmented {
  background: var(--oda-btn-background-color);
  color: white;
  border: var(--oda-main-border);
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.6);
  border-radius: 20px;

  & .ant-segmented-item {
    border-radius: 20px;
  }

  & .ant-segmented-item-selected {
    background: var(--oda-control-background-color);
    color: white;
  }
}

.ant-switch {
  border: var(--oda-main-border);
  background: var(--oda-btn-background-color);
  height: 24px;

  &.ant-switch-checked {
    background-color: #684aff;
  }

  &:hover:not(.ant-switch-disabled) {
    box-shadow: 0 0 5px 1px black;
    background: var(--oda-btn-background-color);
  }
}

.ant-col {
  font-family: "Play";
}

.ant-segmented {
  font-family: "Play";
}
