.newscontainer {
  position: relative;
  background-color: var(--oda-panel-backgroun-color);
  margin-top: 20px;
  padding: 12px 15px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 20px;
}

.closebutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  & a {
    color: #707080;
  }
  & button {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-style: dotted;
    color: #707080;
  }
}

.progressbar {
  width: 100%;
  background-color: var(--oda-control-background-color);
  height: 10px;
}

.filledprogress {
  background-color: rgb(252, 255, 241);
  height: 10px;
}

@keyframes shadow {
  0% {box-shadow: none;}
  50% {box-shadow: 0 0px 10px 5px rgb(122,122,122, 0.5);}
  100% {box-shadow: 0 0px 10px 5px rgb(122,122,122, 1);}
}

.newstitle {
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.newsbody {
  color: #707080;
  font-size: 13px;
  text-wrap: balance;
  text-align: justify;
  flex: 2 1 auto;
}

.newsdemo{
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.buttons{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  & button {
    border: none;
    width: 140px;
    height: 42px;
    border-radius: 100px;
    background-color: #1B1B1F;
  }
}

@media(max-width: 800px){
  .newscontainer {
    margin-left: 20px;
    margin-right: 20px;
  }
  .bodycontainer {
    flex-direction: column;
  }
}

@media(min-width: 800px){
  .newscontainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  .bodycontainer {
    flex-direction: column;
  }
}
