.inlined {
  display: inline;
  & div {
    display:inline;
  }
}

.icon {
  display: inline;
  vertical-align: text-bottom;
}

.badge {
  display: inline;
  vertical-align: text-bottom;
  margin-left: 1px;
  margin-right: 3px;
}
