.resizable {
  border-radius: 6px;
  background: url(https://cdn.oda.digital/assets/preview-background.jpg);
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.tab {
  padding-top: 9px;
}

button.deletetriggerbutton{
  height: 36px;
  width: 36px;
}
