.qrholder {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
}

.widgetsettingsitem {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.widgetsettingsname {
	flex: 1 0 auto;
}

.url {
  font-size: 20px;
  color: white;
}
