.panel {
  background: var(--oda-color-150);
  border-radius: 6px;
  padding: 12px 15px 15px 15px;
  margin-bottom: 9px;
}

.fieldname {
  color: var(--oda-color-500);
  font-size: 12px;
  margin-bottom: 6px;
}

.paymentpageconfig {
  color: white;
  flex: 1 0 auto;
  margin-top: 22px;
}

.paymentpage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.widgetsettingsitem {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.widgetsettingsname {
	flex: 1 0 auto;
}

.widgetsettingsvalue {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--oda-color-300);
  background: none;
  color: white;
  text-align: center;
  flex-grow: 1;
}

a.url {
  font-size: 30px;
  color: var(--oda-color-1000)!important;
  text-decoration: none;
}

.pagetext {
  border: 1px solid var(--oda-color-250);
  border-radius: 9px;
  background: none;
  color: var(--oda-color-1000);
}

.widgetsettingsvalue:focus-visible,
.widgetsettingsvalue:focus {
	outline:none;
}

.backgroundimage {
  width: 227px;
  height: 106px;
  padding: 12px;
  border: 1px solid var(--oda-color-250);
  border-radius: 6px;
}

.logoimage {
	width: 106px;
	height: 106px;
  padding: 12px;
  border: 1px solid var(--oda-color-250);
  border-radius: 6px;
}

.backgroundimage:hover {
	cursor:pointer;
}

.buttons {
  margin-top: 36px;
}

.cancelButton {
	background: gray;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.saveButton {
	background: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
