name: Release

on:
  push:
    branches: [ "master" ]

permissions: write-all

jobs:

  build-and-push:
    runs-on: ubuntu-latest
    steps:

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: ghcr.io/opendonationassistant/oda-widget-page:${{ github.RUN_NUMBER }}
        build-args: gpr_token=${{ secrets.GPR_TOKEN }}
